.projects {
    padding: 20px;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centra las tarjetas horizontalmente */
    justify-content: center;
}

.projects h1 {
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.projects-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;  /* Centra las tarjetas horizontalmente */
    justify-content: center;
    width: 100%;
    max-width: 1200px; /* Limita el ancho máximo del contenedor */
}

.projects-list .project-card {
    background-color: white;
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 100%;
    max-width: 500px;  /* Ajusta el ancho máximo de las cards */
    margin: 0 auto;  /* Centra las tarjetas dentro del contenedor */
}

.projects-list .project-card:hover {
    transform: translateY(-5px);
}

.projects-list .project-card h2 {
    color: var(--color-primary);
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.projects-list .project-card p {
    font-size: 1.1rem;
    color: var(--color-text);
    margin-bottom: 15px;
}

.projects-list .project-card a {
    text-decoration: none;
    color: var(--color-button);
    font-weight: bold;
}

.projects-list .project-card a:hover {
    color: darkorange;
}

.johny {
    border-radius: 100%;
}

/* Responsive */
@media (min-width: 768px) {
    .projects-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;  /* Centra las cards en filas */
    }

    .projects-list .project-card {
        width: 48%;  /* Hace que las tarjetas ocupen el 48% del ancho */
    }
}
