/* projects.css */
h1 {
    display: flex;
    justify-content: center;
    align-content: center;
}

.project-card {
    background-color: var(--color-bg);
    border-radius: 8px;
    padding: 20px;
    margin: 1rem 4rem; /* Margen más grande a los costados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.4s ease-in-out;
}

.project-card h2 {
    font-size: 1.5rem;
    color: var(--color-primary);
    margin-bottom: 15px;
}

.project-card p {
    font-size: 1rem;
    color: var(--color-text);
    margin-bottom: 20px;
}

.project-card a {
    font-size: 1rem;
    color: var(--color-accent);
    text-decoration: none;
    border: 1px solid var(--color-accent);
    padding: 10px 15px;
    border-radius: 5px;
}

.project-card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.project-card a:hover {
    background-color: var(--color-accent);
    color: white;
}

/* Responsive: Ajuste para pantallas más pequeñas */
@media (max-width: 768px) {
    .project-card {
        margin: 15px 10px; /* Reduce el margen lateral en pantallas pequeñas */
    }
}
